# Ignore dataset
data/train.csv
# competition data
lmsys-chatbot-arena/train.csv
lmsys-chatbot-arena/test.csv
lmsys-chatbot-arena/sample_submission.csv

# large models / checkpoints
*.pt
*.bin
*.safetensors
*.ckpt
*.pkl

lmsys-chatbot-arena.zip 
