# Ignore dataset
data/train.csv
# competition data
lmsys-chatbot-arena/train.csv
lmsys-chatbot-arena/test.csv
lmsys-chatbot-arena/sample_submission.csv

# large models / checkpoints
*.pt
*.bin
*.safetensors
*.ckpt
*.pkl

lmsys-chatbot-arena.zip 

# --- environments & caches ---
venv/
__pycache__/
.cache/

# --- model checkpoints ---
*.pth
*.bin
*.pt
*.ckpt

# --- logs and data ---
*.log
*.parquet

# --- HuggingFace local checkpoints ---
deberta_mps_head/

# --- mac system files ---
.DS_Store
